input:not(#submitButton) {
    margin-bottom: 15px;
    width: 49%;
    height: 50px;
}

input::placeholder, textarea::placeholder {
    font-size: 12pt;
}

input:focus, textarea:focus {
    outline: none;
    border: 3px solid darkred;
    transition: .5s;
}

.container {
    position: relative;
}

textarea {
    position: relative;
    width: 98.6%;
    height: 255px;
    margin-bottom: 15px;
}

iframe {
    width: 98.6%;
    height: 450px;
    border: 0;
}

#submitButton {
    height: 50px;
    width: 100px;
    font-size: 12pt;
}

#submitButton:hover {
    border: 3px solid darkred;
    transition: .5s;
    cursor: pointer;
}