html, body {
    height: 100%;
} 

#backgroundImage {
    background-image: url("../images/Scene1.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: lightblue;
    padding: 50px;
    border: 2px solid rgb(255, 43, 51);
    font-size: 20px;
}

.parallax {
    background-attachment: fixed;
}

.noParallax {
    background-attachment: scroll;
}