body, html {
    height: 100%;
}

#backgroundImage {
    background-image: url("https://picsum.photos/200/300?random=1"); 

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}