body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

    background-image: url("../images/boardgame/map3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}