* {
    margin: 0;
}

@font-face {
    font-family: 'Harlow Solid Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Harlow Solid Italic'), url('fonts/HARLOWSI_1.woff') format('woff');
}

header {
    background-color: black;
    border-top: 3px solid rgb(255, 43, 51);
}

header img {
    width: 100px;
}

header h1 {
    font-family: 'Harlow Solid Italic';
    font-size: 50px;
    color: rgb(255, 43, 51);
    padding-top: 20px;
    padding-bottom: 28px;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
}

nav ul li {
    float: left;
    border-right: 1px solid #ccc;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 43, 51);
}

nav ul li:hover {
    background-color: rgba(61, 61, 61, 0.548);
}

.active {
    color: black;
    background-color: rgb(255, 43, 51);
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {
        position: relative;
    }
    nav.responsive.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}