* {
    margin: 0;
}

header {
    font-size: large;
    background-color: black;
}

header img {
    width: 100px;
}

header h1 {
    color: red;
    padding-top: 29px;
    padding-bottom: 28px;
}

#hearder {
    height: 100%;
}

nav {
    background-color: black;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    padding-left: 0px;

}

nav ul li {
    float: left;
    border-right: 1px solid #ccc;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
}

nav ul li:hover {
    background-color: rgba(61, 61, 61, 0.548);
}

.active {
    color: whitesmoke;
    background-color: gray;
}